@import "cards";

body {
    color: rgb(237, 218, 197);
    background-color: #3a841d;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    text-shadow: #593909 2px 2px 7px;
    font-family: 'Cormorant Garamond', serif;
}

div{
    margin: .5em;
    display: flex;
}

div div {
    justify-content: space-between;
    color: rgba(0,0,0,0);
}

.discardedField {
    float: right;
}

button {
    background-color: #7c0000;
    border-radius: 10%;
    border: #7c0000 solid 1px;
    font-size: 1.2em;
    color: burlywood;
    font-family: 'Cormorant Garamond', serif;
}

.card {
    border: #593909 solid 1px;
    border-radius: 5%;
}

ul {
    text-align: left;
}