@import "cards";

body {
    color: white;
    background-color: #3a841d;
    font-size: 1.2em;
    text-align: center;
}

div{
    margin: .5em;
    display: flex;
}

div div {
    justify-content: space-between;
    color: rgba(0,0,0,0);
}

.discardedField {
    float: right;
}

